body {
  background: #352f5b;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  border: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.todos li {
  background: #423a6f;
  color: #fff;
}
.delete {
  cursor: pointer;
}

.isDone {
  background-color: green !important;
}
.notDone {
  background-color: rgb(100, 12, 12) !important;
}

.todos li i {
  margin-left: 10px;
  cursor: pointer;
}

.edit-label {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: green;
}
